.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
}

.card-container {
    width: 500px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputGroup {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: space-between; */
    /* margin: 20px 0; */
}

.inputbox {
    width: 0px;
    height: 30px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.2); 
    color: white;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
}